# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class




# Virtual Environment
myenv/
venv/
env/
.venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Database
# ----------------------------
*.db
*.sqlite3

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE / Editor Files
# ----------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------
# FastAPI / Uvicorn
# ----------------------------
*.pid

# ----------------------------
# Build / Dist
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Node (if you add frontend tooling later)
# ----------------------------
node_modules/

# ----------------------------
# Static cache (optional)
# ----------------------------
*.map